.root {
    /* Paleta Kawaii Pixel Art */
    -fx-bg-machine: #3d2f4d;        /* Cuerpo de la máquina: Morado oscuro anime */
    -fx-bg-showcase: #1e122b;       /* Vitrina interna: Oscuro profundo */
    -fx-border-main: #ff7ebb;       /* Bordes principales: Rosa Neón */
    -fx-panel-right: #503d65;       /* Panel de control derecho */
    -fx-lcd-bg: #22c55e;            /* Pantalla LCD verde retro retroiluminada */
    -fx-lcd-text: #052e16;          /* Texto de la pantalla LCD */
    -fx-slot-bg: #634b7c;           /* Ranuras individuales de productos */
    -fx-btn-color: #ff9ebb;          /* Botones estándar de la máquina */
    -fx-btn-text: #ffffff;
    -fx-accent-cyan: #22d3ee;       /* Detalles de luces azul cian */
}