.player-container {
    -fx-background-color: linear-gradient(to bottom, derive(-panel, 12%), -panel);

    -fx-border-color: -borde;
    -fx-border-width: 4px;
    -fx-border-style: solid;

    -fx-effect: dropshadow(
            gaussian,
            -glow,
            20,
            0.15,
            0,
            6
    );
}

.display-panel {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 10px;
}

.pixel-text-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -brillante;
    -fx-effect: dropshadow(one-pass-box, -glowSutil, 3, 0.0, 0, 1);
}

.pixel-text-subtitle {
    -fx-font-size: 11px;
    -fx-text-fill: -textoMuted;
}

.pixel-text-time {
    -fx-font-size: 10px;
    -fx-text-fill: -textoMuted;
}

.turntable-box {
    -fx-background-color: linear-gradient(to bottom, -panel, derive(-panel, -12%));

    -fx-border-color: -borde;
    -fx-border-width: 4px;
}

.chasis-tapa-superior {
    -fx-fill: -panel;
}

.brazo-cabezal-iso {
    -fx-fill: -acento;
}

.vinilo-centro-isometrico {
    -fx-fill: -acento;
}

.chasis-isometrico {
    -fx-effect: dropshadow(gaussian, -glow, 15, 0.3, 0, 4);
}