.player-container {
    -fx-background-color: -panel;

    -fx-border-color: -borde;
    -fx-border-width: 4px;
    -fx-border-style: solid;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.35),
            10,
            0.2,
            0,
            3
    );
}

.display-panel {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 10px;
}

.pixel-text-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -brillante;
}

.pixel-text-subtitle {
    -fx-font-size: 11px;
    -fx-text-fill: -texto;
}

.pixel-text-time {
    -fx-font-size: 10px;
    -fx-text-fill: -texto;
}

.turntable-box {
    -fx-background-color: -panel;

    -fx-border-color: -borde;
    -fx-border-width: 4px;
}
.chasis-tapa-superior {
    -fx-fill: -panel;
}

.brazo-cabezal-iso {
    -fx-fill: -acento;
}

.vinilo-centro-isometrico {
    -fx-fill: -acento;
}

.chasis-isometrico {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.3, 0, 3);
}