@import "controls.css";
@import "player.css";
@import "playlist.css";

.root {
    -fondo: #080c10;
    -panel: #101820;
    -borde: #1a3a4a;
    -acento: #20a8c0;
    -texto: #78b8c8;
    -brillante: #c0e8f0;
}

#root-pane {
    -fx-background-color: -fondo;
    -fx-font-family: "Press Start 2P";
}

.decoration-pane {
    -fx-background-color: transparent;
}