@import "controls.css";
@import "player.css";
@import "playlist.css";

.root {
    -fondo: #080c10;
    -panel: #101820;
    -borde: #1a3a4a;
    -acento: #20a8c0;
    -texto: #78b8c8;
    -brillante: #c0e8f0;
}

#root-pane {
    -fx-background-color: -fondo;
    -fx-font-family: "Press Start 2P";
}

.decoration-pane {
    -fx-background-color: transparent;
}
/* Vincula la clase personalizada de la celda con la variable dinámica del ThemeManager */
.list-view .list-cell.list-cell-active {
    -fx-background-color: -acento;
}
/* Reemplaza el hover azul por defecto con un brillo sutil */
.list-view .list-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: -texto;
}

/* IMPORTANTE: Mantenemos el color dinámico para la canción que SÍ está sonando */
.list-view .list-cell.list-cell-active:hover {
    -fx-background-color: derive(-acento, -10%);
}